* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 1.5rem;
}


nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
}

nav > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  align-self: center;
  justify-content: space-evenly;
}

nav > ul > li {
  padding: 0.5rem;
  cursor: pointer;
}

nav > ul > li:hover {
  background-color: antiquewhite;
}

nav > img {
  width: 60px;
  height: 25px;
}

.section {
  margin: 0 auto;
  padding: 2rem;
  margin-bottom: 0.5rem;
  min-height: 30vw;
}

.helloWorld {
  background-color: antiquewhite;
  justify-content: center;
  display: grid;
  text-align: center;
  min-height: 20vh;
}

.helloWorld > h1 {
  text-align: center;
}

.helloWorld > p {
  max-width: 70vw;
}

.about-this-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: 5px antiquewhite;
  padding-left: 15vw;
  padding-right: 15vw;
}

.about-this-page-text{
  max-width: 25vw;
  /* min-width: 20vw; */
  text-align: center;
  padding: 1rem;
}

/* .about-this-page-text > p{
  margin: 0.5;
} */

.about-this-page-text button {
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 15px;
  cursor: pointer;
}

.about-this-page-text button:hover {
  padding: 1.2rem;
  color: white;
  background-color: rgb(114, 77, 77);
}



.about-this-page-img {
  min-width: 30vw;
  min-height: 20vw;
  background-image: url(images/aboutUs.jpg);
}

.emergency {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emergency > h1 {
  padding: 1rem;
}

.emergency-click {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 9px;
  grid-row-gap: 9px;
  align-content: center;
  justify-content: center;
}

.item {
  display: flex;
  min-width: 50px;
  min-height: 50px;
  padding: 3rem;
  text-align: center;
  background-color: antiquewhite;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.item:hover {
  color: white;
  background-color: rgb(114, 77, 77);
}

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 2rem 0;
  background-color: antiquewhite;
}

.contact-us > h1{
  margin-bottom: 1rem;
}

.contact-us > p {
  margin: 1rem;
}

.contact-us-form form {
  box-sizing: border-box;
}

input,
label,
textarea,
button {
  box-sizing: border-box;
  margin: 0.5rem;
  border-style: none;
}


input,
textarea {
  padding: 0.5rem;
}

.contact-us-form button {
  padding: 1rem;
  border-radius: 15px;
  border-style: none;
  background-color: white;
  cursor: pointer;
}

.contact-us-form button:hover {
  padding: 1.2rem;
  color: white;
  background-color: rgb(114, 77, 77);
}


.contact-us-img {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background-color: rgb(114, 77, 77);
  border-radius: 50%;
}














