* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 1.5rem;
}

a{
  text-decoration: none;
  color: black;
}


nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
}

nav > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  align-self: center;
  justify-content: space-evenly;
}

nav > ul > li {
  padding: 0.5rem;
  cursor: pointer;
}

nav > ul > li:hover {
  background-color: antiquewhite;
}

nav > img {
  width: 60px;
  height: 25px;
}

.section {
  margin: 0 auto;
  padding: 2rem;
  margin-bottom: 0.5rem;
  min-height: 30vw;
}

.helloWorld {
  background-color: antiquewhite;
  justify-content: center;
  display: grid;
  text-align: center;
  min-height: 20vh;
}

.helloWorld > h1 {
  text-align: center;
}

.helloWorld > p {
  max-width: 70vw;
}

/* ANIMATION START*/ 
.animation {
  max-width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


.animation-block {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 100%;
  height: 100%;
}

.animation-div {
width: 10px;
height: 10px;
justify-self: center;
/* align-self: center; */
background-color: rgb(244, 180, 98);
animation: rotate 5s linear infinite;
z-index: 1;
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.btn {
  position: absolute;
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  color: rgb(246, 145, 22);
  background-color: white;
  border: 10px solid rgb(246, 145, 22);
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;


  /* transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0ms; */

  transition: all 0.3s ease 0ms;


}
.btn:hover {
  transform: translateY(-10px);
  /* transform: rotate(0.5turn); */
  background-color: rgb(246, 145, 22);
  color: white;
}

/* @keyframes slideInLeft {
  from {
    transform: translateX(300px);

  }
  to {
    transform: translateX(0);
  }
}

.slideInLeft {
  animation: slideInLeft 1s ease-in;
} */



/* ANIMATION END*/

.about-this-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: 5px antiquewhite;
  padding-left: 15vw;
  padding-right: 15vw;
}

.about-this-page-text{
  max-width: 25vw;
  /* min-width: 20vw; */
  text-align: center;
  padding: 1rem;
}

/* .about-this-page-text > p{
  margin: 0.5;
} */

.about-this-page-text button {
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 15px;
  cursor: pointer;
}

.about-this-page-text button:hover {
  padding: 1.2rem;
  color: white;
  background-color: rgb(114, 77, 77);
}



.about-this-page-img {
  min-width: 30vw;
  min-height: 20vw;
  background-image: url(images/aboutUs.jpg);
}

.emergency {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emergency > h1 {
  padding: 1rem;
}

.emergency-click {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 9px;
  grid-row-gap: 9px;
  align-content: center;
  justify-content: center;
}

.item {
  display: flex;
  min-width: 50px;
  min-height: 50px;
  padding: 3rem;
  text-align: center;
  background-color: antiquewhite;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.item:hover {
  color: white;
  background-color: rgb(114, 77, 77);
}

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 2rem 0;
  background-color: antiquewhite;
}

.contact-us > h1{
  margin-bottom: 1rem;
}

.contact-us > p {
  margin: 1rem;
}

.contact-us-form form {
  box-sizing: border-box;
}

input,
label,
textarea,
button {
  box-sizing: border-box;
  margin: 0.5rem;
  border-style: none;
}


input,
textarea {
  padding: 0.5rem;
}

.contact-us-form button {
  padding: 1rem;
  border-radius: 15px;
  border-style: none;
  background-color: white;
  cursor: pointer;
}

.contact-us-form button:hover {
  padding: 1.2rem;
  color: white;
  background-color: rgb(114, 77, 77);
}


.contact-us-img {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background-color: rgb(114, 77, 77);
  border-radius: 50%;
}














